{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "@synbydesign-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@synbydesign-eslint/restrict-asset-import": "error"
  }
}
